.body{
    padding: 16px;
    background-color: #4F3CA0;
    justify-content: center;
    height: 91vh;
}

.pilih{
    display: flex;
    justify-content: space-around;
    background-color: #7463c0;
    width: 90%;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

%select{
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
}

.kepilih{
    @extend %select;
    color: #fff;
}

.non{
    @extend %select;
    color: #9783C3;
}   

