.card {
  width: 90%;
  box-shadow: 0px 2px 8px #4a4a4a40;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border-radius: 8px;
  -webkit-animation: fade-in-right 0.7s;
  animation: fade-in-right 0.7s;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.namaPesawat {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.gambar {
  width: 7vh;
  margin-right: 8px;
}

.namaPwt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 0px;
  color: #000;
}

.keterangan {
  display: flex;
  justify-content: space-around;
}

.Bnd {
  width: fit-content;
  padding: 8px;
}

.namaBnd {
  display: flex;
}

.nama {
  font-size: 23px;
  font-weight: bold;
  color: #4f3ca0;
  margin-bottom: 0px;
}

.jam {
  margin-left: 8px;
  margin-top: auto;
  font-size: 14px;
  color: #000;
  margin-bottom: 0px;
}

.kota {
  color: #4f3ca0;
  font-size: 11px;
  margin-bottom: 0px;
}

.bndFull {
  color: #818181;
  font-size: 11px;
  margin-bottom: 0px;
}

.waktu {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 10px;
  color: #4f3ca0;
  padding: 8px;
  width: fit-content;
  justify-content: center;
}

.estimate {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.harga {
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  padding: 8px;
}

%kecil {
  font-size: 11px;
}

%hrg {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

.textnormal {
  @extend %kecil;
  color: #000;
  margin-bottom: 0px;
}

.hrgNormal {
  @extend %hrg;
  color: #000;
}

.bank {
  @extend %kecil;
  color: #4f3ca0;
  margin-bottom: 0px;
}

.hrgBank {
  @extend %hrg;
  color: #4f3ca0;
}
